@import "./variables/var.scss";
@import "./nprogress.scss";
@import "./scroll-progress.scss";
@import "./custom.scss";
@import './user-tooltip.scss';
@import './primary-button.scss';
@import './createPostInput.scss';
@import "./post.scss";
@import "./friend-request-card.scss";
// Page
@import "./pages/home.scss";
@import './pages/login.scss';
@import './pages//profile.scss';
@import './pages/newfeed.scss';
@import './image-gallery.scss';
@import './side-menu.scss';
@import './user-card.scss';
@import './pages/welcome.scss';

html, body, .root{
    font-family: sans-serif;
    height: auto;

    .dark {
        background-color: rgba(#424242, 0.6)
    }

    .lightoff {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba($color: #000000, $alpha: 0.8);
        z-index: 11;
    }

    .icon-button {
        margin-right: 8px;
        cursor: pointer;
    }
    
    .icon-button:hover{
        color: $main-color;
    }

    .newfeed-right {
        position: relative;
    }

    .chat-container {
        width: auto;
        height: auto;
        position: fixed;
        bottom: -24px;
        display: flex;
        align-items: flex-end;
        z-index: 3;

        .chatBox{
            width: 300px;
            border-radius: 24px;
            margin-left: 20px;

            .chatBox-header {
                height: 50px;
                box-shadow: 0 4px 2px -2px #cecece;
                display: flex;
                align-items: center;
                cursor: pointer;
                justify-content: space-between;

                p {
                    font-size: 16px;
                }
            }

            .chatBox-body {
                height: 300px;
            }

            .chatBox-input{
                height: 80px;
                max-height: 80px;
                border-top: 1px solid #bcbcbc;
            }
        }
    }

    .contact-bar-container {
        width: 100%;
        max-width: 400px;
        height: 100vh;
        border-left: 1px solid #bcbcbc;
        position: fixed;
        z-index: 1;
        // background-color: $bg-color-newfeed;

        .contact-bar-people {
            height: 95vh;
            overflow-y: scroll;
            width: 310px;

            .contact-bar-people-item{
                cursor: pointer;
            }

            .contact-bar-people-item:hover{
                // background-color: $hover-background;

            }
        }

        .contact-bar-people::-webkit-scrollbar {
            display: none;
        }

        .contact-bar-seachbox {
            height: 6vh;
        }
    }

    .route-link {
        cursor: pointer;
    }

    .logo{
        margin-left: 0;
        padding-left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .chat-avatar {
        font-size: $chat-avatar;
        // margin-right: 8px;
    }

    .chatbox-avatar {
        font-size: $chatbox-avatar;
    }

    .avatar {
        font-size: $normal-avatar;
        margin-right: 12px;
    }

    .link {
        color: $main-color;
        cursor: pointer;
    }

    .username {
        color: $main-color;
        font-weight: 600;
        margin: 0;
        cursor: pointer;
    }

    .username:hover{
        text-decoration: underline;
    }
}


