.user-tooltip-container {
    position: relative;
    border: $border;
    border-radius: $main-radius;
    z-index: 30;
    background-color: white;
    transition: fade .3s;
    display: flex;
    flex-direction: column;
    padding: 20px;

    .user-tooltip-header {
        display: flex;

        .user-tooltip-avatar {
            img {
                width: 100px;
                border-radius: 50px;
            }
        }

        .user-tooltip-info {
            display: flex;
            flex-direction: column;
            margin-left: 20px;

            .user-tooltip-name {
                font-size: 30px;
                font-weight: 600;
                margin-bottom: 20px !important;
            }

            .user-tooltip-info-item {
                display: flex;
                align-items: center;
                margin-bottom: 10px !important;
                
                .icon {
                    margin-right: 8px;
                    font-weight: 500;
                }
            }
        }
    }

    .user-tooltip-action {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .primary-button {
            width: auto;
            background-color: rgba($color: #928c8c, $alpha: 0.1);
        }

        .primary-button:hover {
            background-color: rgba($color: #928c8c, $alpha: 0.24);
            border-radius: $main-radius;;
        }
    }

}