.user-card-container{
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;

    .user-card-user {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        img {
            width: 52px;
            height: 52px;
            border-radius: 26px;
            margin-right: 12px;
        }
    }
}