$main-color: #1e88e5;
$secondary-color: rgb(134, 133, 133);
$progress-color: #fff;
$main-radius: 10px;
$border: 1px solid #dddfe2;
$chat-avatar: 44px;
$chatbox-avatar: 36px;
$normal-avatar: 56px;
$hover-background: rgba(0, 0, 0, 0.123);
$bg-color-newfeed: #E9EBEE;