$main-color: #1e88e5;
$secondary-color: rgb(134, 133, 133);
$progress-color: #fff;
$main-radius: 4px;
$border: 1px solid #dddfe2;
$chat-avatar: 44px;
$normal-avatar: 56px;
$hover-background: rgba(0, 0, 0, 0.123);