.profile-container {
    margin-top: 80px;
    height: auto;

    .profile-header{
        border-radius: $main-radius;
        width: 100%;
        height: 400px;
        position: relative;

        .profile-wall-pic {
            width: 100%;
            height: 100%;
        }

        .profile-user{
            position: absolute;
            bottom: -40px;
            left: 60px;
            color: white;
            display: flex;
            align-items: center; 
        }

        .profile-avatar {
            width: 200px;
            height: 200px;
            border-radius: 100px;
            border: 4px solid #fff;
            margin-right: 20px;
        }
    }

    .profile-nav-container{
        border-radius: 4px;
        width: 100%;
        background-color: white;
        height: 60px;
        display: flex;
        justify-content: flex-end;
        padding: 0;
        margin-bottom: 16px;
        border: $border;


        .profile-nav {
            width: 75%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 0;

            .profile-nav-item {
                text-align: center;
                line-height: 60px;
                width: 100%;
                height: 100%;
                border-left: $border;
                color: $main-color;
                cursor: pointer;
                z-index: 2;
            }

            .profile-nav-item:hover{
                background-color: rgba(0, 0, 0, 0.123);
            }
        }
    }

    .profile-body {

        margin-bottom: 0 !important;

        .profile-description {
            padding: 20px;
            border: $border;

            .personal-description-container {
                height: auto;
                width: 100%;
                border-bottom: $border;
                padding-bottom: 16px;
                margin-bottom: 16px;
            }

            .personal-information-container {
                height: auto;
                width: 100%;
                border-bottom: $border;
                padding-bottom: 16px;
                margin-bottom: 16px;

                div {
                    display: flex;
                    align-items: center;

                    p {
                        margin-left: 10px;
                    }
                }

                button {
                    border: $border;
                    height: 40px;
                    border-radius: $main-radius;
                    width: 100%;
                    cursor: pointer;
                    font-weight: 600;
                    font-size: 14px;
                    outline: none;
                    background-color: rgba(134, 133, 133, 0.15);
                    transition: 0.2s ease-out;
                }

                button:hover {
                    background-color: rgba(134, 133, 133, 0.25);
                }
            }
        }
        
    }
    
}